﻿@model IEnumerable<Lifestoned.DataModel.Shared.ChangeEntry>

@if (Model == null || Model.Count() < 1)
{
    <div class="alert alert-info">
        There are no changes to review.
    </div>
}
else
{
    <div class="entries">
        @{
            foreach (var entry in Model)
            {
                if (entry != null)
                {
                    @Html.DisplayFor(m => entry);
                }
                else
                {
                    <div>Error</div>
                }
            }
            @*for (int i = 0; i < Model.Count(); i++)
            {
                @Html.DisplayFor(m => Model[i]);
            }*@
        }

    </div>

}
