﻿@{
    ViewBag.Title = "Upload GDLE Spawn Map Json";
}

<div class="form-horizontal">
    <h2>
        Upload Spawn Map JSON File
    </h2>
    <hr />

    <p>
        Using this page you can upload <a href="#" data-toggle="tooltip" title="Intended to import/modify originally generated content from the GDLE emulator, not for use importing or modifying copyright protected content.">GDLE Spawn Map json files</a> of 1 landblock each.
        After upload, you can download it from the @Html.ActionLink("Sandbox", "Index", "Sandbox") page.
    </p>
    <br />

    <div class="well">
        <form id="dz" action="@Url.Action("UploadItem", "Spawn")" class="dropzone"></form>
    </div>
</div>

@section scripts {
    <script language="javascript">
        Dropzone.options.dz = {

            acceptedFiles: 'application/json',
            addRemoveLinks: true,
            parallelUploads: 5,
            params: function () {
            },
            init: function () {
                var $this = this;

                $this.on('addedfile', function () {
                });

                $this.on('success', function (file) {
                    $this.removeFile(file);
                });

                $this.on('queueComplete', function () {
                });
            },
            dictResponseError: "Upload Failed {{statusCode}}"
        };
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
